
<div id="footer " class="gbfooter" >
  <div class="row link-bg " >
   
    <div class="col-sm-4 link-bg" >
           <!-- <nav aria-label="breadcrumb b-bc link-bg">
                    <ol class="breadcrumb b-bc-o link-bg" style="margin-bottom: 0;">
                      <li class="breadcrumb-item b-bc-i link-bg" id="b-item"><a href="#" class="b-bc-a w-font">VMALL</a></li>
                      <li class="breadcrumb-item  b-bc-i link-bg" id="b-item"><a href="#" class="b-bc-a w-font">Malaysia Port Dickson</a></li>
                      <li class="breadcrumb-item  b-bc-i link-bg" id="b-item"><a href="#" class="b-bc-a w-font">Accommodation</a></li>
                      <li class="breadcrumb-item active  b-bc-i link-bg"  id="b-item"  aria-current="page">ALL</li>
                    </ol>
                  </nav>-->
    </div>
    



    <div class="col-sm-4">
        <ul class="nav justify-content-md-center">
            <li class="nav-item">
              <a class="nav-link w-font" href="#"> Follow Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link w-font" href="#"> <i class="fa fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link w-font" href="#"> <i class="fa fa-facebook-square "></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link w-font" href="#"> <i class="fa fa-linkedin"></i></a>
              </li>
            <li class="nav-item">
              <a class="nav-link w-font" href="#"> <i class="fa fa-pinterest-p"></i></a>
            </li>
          </ul>
    </div>
  </div>

  <div class="row justify-content-md-center link2-bg  ">
    <div class="col-sm-2">
      <div class="row link2-header" >
          <div class="col">Regional Settings</div>
      </div>
   
      <div class="row select-p">
        <div class="col">
          <select class="custom-select select-w">
            <option selected>US Dollar</option>
            <option value="1">MYR Ringgit</option>
          </select>  
        </div>  
      </div>
    </div>

    <div class="col-sm-2">
        <div class="row link2-header">
            <div class="col">
          The Company
        </div>
        </div>
        <div class="row ">
            <div class="col">
            About Brandtigo
          </div>
          </div>
          <div class="row">
              <div class="col">
              Our Team  
            </div>    
            </div> 
      </div>

      <div class="col-sm-2">
          <div class="row link2-header">
              <div class="col">
            Products
          </div>
    
          </div>
          <div class="row">
              <div class="col">
              Products FAQ
            </div>
            </div>
            <div class="row">
                <div class="col">
               Shipping and Delivery 
              </div>      
              </div>  
              <div class="row">
                  <div class="col">
                 Returns and Refunds  
                </div>     
                 </div>   
        </div>

        <div class="col-sm-2">
            <div class="row link2-header">
                <div class="col">
              Brands
            </div>
            </div>
            <div class="row">
                <div class="col">
                Our Brands
              </div>
              </div>
              <div class="row">
                  <div class="col">
                 Brands FAQ      
                </div>
                </div>  
                <div class="row">
                    <div class="col">
                    Sell on Brandtigo 
                  </div>     
                   </div>    
          </div>

  </div>
  <div class="row link-bg justify-content-md-center link2-bg f-padding">
      <div class="col-sm-2">
        Copyright by Brandtigo Limited
      </div>
    </div>


</div>

<!-- breadcrump code -->
<!--
<div class="row" style="margin-bottom: 0px">
    <div class="col-sm" style="background-color: black;">
            <nav aria-label="breadcrumb b-bc">
                    <ol class="breadcrumb b-bc-o" style="margin-bottom: 0;">
                      <li class="breadcrumb-item b-bc-i"><a href="#" class="b-bc-a">VMALL</a></li>
                      <li class="breadcrumb-item  b-bc-i"><a href="#" class="b-bc-a">Malaysia Port Dickson</a></li>
                      <li class="breadcrumb-item  b-bc-i"><a href="#" class="b-bc-a">Accommodation</a></li>
                      <li class="breadcrumb-item active  b-bc-i" aria-current="page">ALL</li>
                    </ol>
                  </nav>
    </div>
    


</div>

-->