<app-header></app-header>
<div class="gbbody container-fluid">

<app-product-filter></app-product-filter>




    <!-- end of slider -->
    <div class="container bg-3 text-center" style="background-color: black;">



        <div class="row">
            <br>
            <br>
        </div>


        <div class="row">
            <br>
            <div class="col-sm-12">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."


            </div>
        </div>
        <div class="row">
            <br>
            <br>
        </div>

    </div>
</div>
<app-footer></app-footer>